<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService3Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebService3Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44317/WebService3.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService3Soap"
                contract="ServiceReference1.WebService3Soap" name="WebService3Soap" />
        </client>
    </system.serviceModel>
</configuration>